$black: #2F3035;

$blue: #1C62CD;

$gray: #F0F0F4;

$boldGray: #C4C4C4;

$opacity: rgba(#2F3035, 0.7);

$generalFont: 'Ubuntu', sans-serif;

$regular: 'SFProDisplay-Regular', sans-serif;

$medium: 'SFProDisplay-Medium', sans-serif;

$semibold: 'SFProDisplay-Semibold', sans-serif;

$bold: 'SFProDisplay-Bold', sans-serif;

$price: 'Barlow', sans-serif;